
@model PagedList.IPagedList<Day7.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div style="display:flex">
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="card" style="width: 18rem ;background-color:#dddddd;margin-left:5%">
                    <img src="~/Content/Products-Pictures/@item.Picture" class="card-img-top" alt="" style="width:100%;height:50%;margin-top:5%">
                    <div class="card-body">
                        <h3 class="card-title"> @Html.DisplayFor(modelItem => item.Name) </h3>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">Price:  @Html.DisplayFor(modelItem => item.Price)</p>
                        @Html.ActionLink("Details", "Details", "User", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" ,style="text-align:center" })
                    </div>
                </div>
            }
        }


    </div>

<br /><br /><br />
<div style="text-align:center">
     @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>

